.calculator {
  display: flex;
  align-items: center;
  gap: 5px;
}

 input, select ,.result {
  height: 35px;
  margin: 3px;
  font-size: 1em;
  text-align:center;
}
select{
  width: 60px;
  height: 30px;
  padding: 0%;
}

 .equal{
  width: 50px;
  height: 30px;
  border-radius: 10%;
  box-shadow:#0272b3 ;
  background-color: #0668a1;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
 }

 .reset{ 
 width: 160px;
 height: 35px;
 padding: 3px;
 border-radius: 5%;
 box-shadow:#0272b3 ;
 background-color: #0668a1;
 color: white;
 border: none;
 cursor: pointer;
 text-align: center;
 position:relative;
 left: 865px;
 margin-top: 10px;

 }

button:hover {
  background-color: #0a72e0;
}

input[readonly] {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
}

.error {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}